<html>
    <head>
        <title>jwestgard.net: HOME</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This is my project homepage.</p>
        <h2>Links</h2>
        <ul>
            <li><a href="headlines">
                Headlines project for learning Flask</a></li>
            <li><a href="http://terpconnect.umd.edu/~westgard">
                Personal homepage</a></li>
            <li><a href="http://www.github.com/jwestgard">
                Coding projects on Github</a></li>
        </ul>
    </body>
</html>
